._table-header {
    background-color: #5799dc;
    color: white;
    font-size: large;
}
._table-cell {
    border-bottom: 1px solid black !important;
}
._table-row-alert-confirmation {
    background-color: rgb(255 210 158 / 84%);
}
