._uploadStock-container {
    padding: 15px;
    background-color: white;
    width: 80%;
    border-radius: 12px;
    border: 2px solid rgba(230, 235, 240, .7);
    height: 90vh;
    position: relative;
    margin-top: 40px;
}
._uploadStock-form-row {
    flex-direction: row !important;
    margin-bottom: 10px !important;
    gap: 10px;
    flex-wrap: wrap;
    width: 90%;
    padding: 20px;
}

._uploadStock-upload-btn {
    position: absolute !important;
    bottom: 30px;
}