._containers-generic {
    padding: 20px 3%;
    background-color: white;
    width: 90%;
    height: 90vh;
    margin-top: 40px;
    border-radius: 12px;
    border: 2px solid rgba(230, 235, 240, .7);
    margin: 20px auto;

}

._containers-card-responsive {
    position: relative;
    padding: 20px 3%;
    margin: 20px auto;
    width: 90%;
    height: 88vh;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}