._containers-generic {
    padding: 15px;
    background-color: white;
    width: 80%;
    height: 90vh;
    margin-top: 40px;
    border-radius: 12px;
    border: 2px solid rgba(230, 235, 240, .7);
    // position: relative;
}