@import './components/login';
@import './components/sidebar';
@import './components/table';
@import './pages/stock';
@import './pages/uploadStock';
@import './pages/assignStock';
@import './pages/summaryStock';
@import './containers';

.MuiDataGrid-columnHeaders {
    background-color: #5799dc;
    color: white;
    font-size: large;
}
.MuiDataGrid-withBorderColor {
    border-bottom: 1px solid black !important;
}